<nav class="navbar navbar-default menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Afrique Compétences</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"> <a href="#">Accueil</a> </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="menu_deroulant" href="#">Contacts <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Créer un contact</a></li>
                    <li><a href="#">Tous les contacts</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="menu_deroulant" href="#">Formations <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Mes formations</a></li>
                    <li><a href="#">Toutes les formations</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="menu_deroulant" href="#">Activités <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Créer une activité</a></li>
                    <li><a href="#">Toutes les activités</a></li>
                </ul>
            </li>
            <li> <a href="#">Compte</a> </li>
            <li> <a href="#">Profil</a> </li>
        </ul>
    </div>
</nav>
