@model dynamic

@{
    ViewBag.Title = "Commercial";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Menu { 
    @Html.Partial("MenuCommercial")
}
@section Footer {
    
}
<h2>Accueil commercial</h2>


