@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Accueil</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                @Html.ActionLink("Commercial", "IndexCommercial", "Commercial", new { }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-lg-offset-2 col-lg-2">
                @Html.ActionLink("Manager", "IndexManager", "Manager", new { }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-lg-offset-2 col-lg-2">
                @Html.ActionLink("Super-Manager", "IndexSuperManager", "SuperManager", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
</body>
</html>