@model ProjetOrion.Models.Utilisateur

@{
    ViewBag.Title = "Tous les utilisateurs - Super Manager";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Menu {
    @Html.Partial("MenuSuperManager")
}
@section Footer {

}

<h1>Tous les utilisateurs</h1>