@model dynamic

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Menu {
    @Html.Partial("MenuManager")
}
@section Footer {

}

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#publications" data-toggle="tab">Publications</a></li>
            <li><a href="#activites" data-toggle="tab">Dernières activités</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="publications">La liste des publications</div>
            <div class="tab-pane" id="activites">La liste des dernières activités</div>
        </div>
    </div>
</div>

@section ScriptJs
{
    <script>
        $(function() {
        });
    </script>
}
